@charset "utf-8"
@import "normalize"
@import "bootstrap"
#header
  .navbar-default
    margin-top: -50px
  .navbar-nav > li > a
    padding-top: 0
    padding-bottom: 0
    line-height: 15px
    &:hover
      background-color: transparent

  .navbar-right
    position: fixed
    margin-left: 60em
  .nav > li > a
    margin-right: 5em

  .fa
    color: white
    &:hover
      border-radius: 100px
      width: 12px
      height: 12px
      background-color: white







#hakkimizda
  .yazi
    font-size: 10px
    margin-left: 50px
    text-align: center
  .yazilar
    font-size: 10px
    color: grey
    font-weight: lighter
    text-align: center
    margin:
      top: 5px
      left: -101px

  h2
    text-align: center

  .altigen
    width: 0
    border-left: 22px solid transparent
    border-right: 22px solid transparent
  .altigenn
    @extend .altigen
    border-bottom: 13px solid #513c44
  .altigennn
    @extend .altigen
    border-bottom: 13px solid #89c752
  .altigennnn
    @extend .altigen
    border-bottom: 13px solid #007681
  .altigen2
    width: 45px
    height: 25px
    .icon
      margin-left: 13.5px
      color: white
      font-size: 20px

  .altigenn2
    @extend .altigen2
    background-color: #513c44
  .altigennn2
    @extend .altigen2
    background-color: #89c752
  .altigennnn2
    @extend .altigen2
    background-color: #007681
  .altigen3
    width: 0
    border-left: 22px solid transparent
    border-right: 22px solid transparent
  .altigenn3
    @extend .altigen3
    border-top: 13px solid #513c44
  .altigennn3
    @extend .altigen3
    border-top: 13px solid #89c752
  .altigennnn3
    @extend .altigen3
    border-top: 13px solid #007681

  .containerr
    margin-left: 230px

#projeler
  .icon
    margin-left: 20em
    margin-top: 5px
  .carousel-indicators
    margin-bottom: -44px

  img
    height: 300px
    width: 600px
    margin: auto
  .carousel-indicators .active
    background-color: transparent
  .carousel
    margin-left: 150px
    width: 630px
    height: 330px
    background-color: black
    li
      width: 7px
      height: 7px
    .fa
      margin-top: 120px
    .carousel-inner
      height: 400px
      width: 630px
      margin: auto
  h3
    margin-left: 290px
    font-family: Righteous !important
    color: white
  .tooltip-image
    width: 120px !important
    height: 120px !important
#iletisim
  .yazi
    color: white