
#header
  %nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse

      %ul.nav.navbar-nav.navbar-right
        %li
          %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#", :title => "hakkımızda"}
            %i.fa.fa-circle-thin{"aria-hidden" => "true"}
          %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#hakkimizda", :title => "hakkımızda"}
            %i.fa.fa-circle-thin{"aria-hidden" => "true"}
          %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#", :title => "hakkımızda"}
            %i.fa.fa-circle-thin{"aria-hidden" => "true"}
          %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#", :title => "hakkımızda"}
            %i.fa.fa-circle-thin{"aria-hidden" => "true"}
          %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#", :title => "hakkımızda"}
            %i.fa.fa-circle-thin{"aria-hidden" => "true"}
          %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#", :title => "hakkımızda"}
            %i.fa.fa-circle-thin{"aria-hidden" => "true"}
          %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#", :title => "hakkımızda"}
            %i.fa.fa-circle-thin{"aria-hidden" => "true"}

#hakkimizda
  .containerr
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .altigenn
        .altigenn2
          .icon
            %i.fa.fa-globe{"aria-hidden" => "true"}
        .altigenn3

        .yazilar
          Global vizyonumuzu yerel
          %br
          deneyimlerimizle harmanlayan
          %br
          özgün çözümler
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .altigennn
        .altigennn2
          .icon
            %i.fa.fa-money{"aria-hidden" => "true"}
        .altigennn3
        .yazilar
          Minimum maliyet ile
          %br
          maksimum sonuç
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .altigennnn
        .altigennnn2
          .icon
            %i.fa.fa-eye{"aria-hidden" => "true"}
        .altigennnn3
        .yazilar
          Müşteri sadakatini arttırarak ve
          %br
          marka bilinirliğini geliştirerek
          %br
          rekabet avantajı sağlıyoruz


  %div{:style => "background:url('images/light-texture-bg-5a9ecbdbf2faef83f4f830b1e95cbce8.gif'); width:770px; height:340px;"}
    %h2
      %br
      Hakkımızda
    .yazi
      Müşteri ihtiyaçları doğrultusunda Kurumsal İletişim ve Pazarlama Departmanlarına promosyon
      %br
      faaliyetleri konusunda danışmanlık, tasarım ve ürün tedarik hizmetleri vermekteyiz. Uzmanlık alanlarımız
      %br
      arasında Sports Merchandising, Event Merchandising, Çocuk Ürünleri, Teknoloji Ürünleri ve 3-boyutlu
      %br
      çizgi karakter, maket & figür üretimi bulunmaktadır.
      %p
      Global vizyonumuzu oyuncak sektöründen gelen altyapımız ile harmanlayarak promosyon ihtiyaçlarınıza
      %br
      yaratıcı çözümler sunuyor, Uzak Doğu ve Avrupa’daki çözüm ortaklarımız sayesinde yeni trend, teknoloji
      %br
      ve tasarımları müşterilerimize hızlı bir şekilde ulaştırıyoruz.
      %p
      Hong Kong’da ürün tedarik, ticari danışmanlık, ürün geliştirme, kalite kontrol / inspection hizmetleri
      %br
      aldığımız bir ofisimiz bulunmaktadır. Uzak Doğu’da oluşturduğumuz tedarik ağımız sayesinde her bütçe
      %br
      için müşterilerimizin merchandising ihtiyaçlarını karşılayacak farklı ve sıradışı ürünlere ulaşmamız
      %br
      mümkün olmaktadır. Herhangi bir ürün gamı içerisinde farklı kalite ve maliyetlerde alternatif ürünlere
      %br
      ulaşabilmemiz tedarik ağımız kadar merchandising dünyasında bizi farklı kılan yaratıcı yaklaşımımızın bir
      %br
      sonucudur.
    %div{:style => "background:url('images/light-texture-bg-5a9ecbdbf2faef83f4f830b1e95cbce8.gif'); width:170px; height:340px; margin-left: 55em; margin-top: -281.50px"}
      %div{:style => "background:url('images/about-part-three-bg-4ad8c091826fd07e96cd70700bedf2d5.png'); width:170px; height:340px; background-size:cover; "}



#projeler
  %div{:style => "background:url('images/dark-texture-bg-5c76605a8b78da6072b934f68eeee9ee.gif'); width:1000px; height:410px;"}
    %h3
      Siz hayal edin, biz yapalım...
    %br
    %br
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      .carousel-inner{:role => "listbox"}
        .item.active
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "", :src => "images/THY_Globe.jpg"}
            .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/beko-basketbol-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/hakan-sukur-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/turk-telekom-ahize-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/turkish-airlines-euroleague-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/teb-tenis-referans.jpg"}
          .carousel-caption
        .item
          %img{:alt => "...", :src => "images/ttnet-tekir-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/turkish-airlines-golf-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/anadolu_efes-referans.jpg"}
          .carousel-caption
        .item
          %img{:alt => "...", :src => "images/ttnet-sapka-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/ford-focus-referansjpg.jpg"}
          .carousel-caption
        .item
          %img{:alt => "...", :src => "images/thy-wingo-referans.jpg"}
          .carousel-caption
        .item
          %ol.carousel-indicators
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "left","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
            %li{ "data-placement" => "bottom","data-target" => "#carousel-example-generic", "data-toggle" => "tooltip", "data-original-title" => "<img class='tooltip-image' src='images/beko-basketbol-referans.jpg'>"}
          %img{:alt => "...", :src => "images/Image-Slider-Photo---cropped-optimized.jpg"}
          .carousel-caption
        .item
          %img{:alt => "...", :src => "images/Ugi.jpg"}
          .carousel-caption
        .item
          %img{:alt => "...", :src => "images/Cheetos-cropped-optimized.jpg"}
          .carousel-caption
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %i.fa.fa-angle-left{"aria-hidden" => "true"}
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
        %i.fa.fa-angle-right{"aria-hidden" => "true"}
#iletisim
  .container
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        %div{:style => "background:url('images/dark-texture-bg-5c76605a8b78da6072b934f68eeee9ee.gif'); width:1000px; height:410px;"}
          .resim
            %div{:style => "background:url('images/logo-d783b9322693fc16f9306338895084cd.png'); width:100px; height:100px; background-size: cover;"}
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .yazi
          isim soyisim


      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .yazi
          isimsoyisim
